* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

li {
    list-style: none;
}

/* Header Section */

.nav-menu {
    background-color: #00A1DE;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: black solid 8px;
    padding: 1% 2rem;
}

.logo {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 3rem;
    background-color: #003145;
    padding: 1% 2%;
    border: white solid 1px;
    border-radius: 10px;
}

.menu-list {
    background-color: #003145;
    padding: 0 1rem;
    border-radius: 10px;
}

.menu-list li {
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 2rem;
    display: inline-flex;
    justify-content: space-between;
    padding: 0 0px;
}

.menu-list li+li:before {
    content: "|";
    padding: 0 0.870rem;
}

/* Presentation Section */

.presentation-container {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    border-bottom: black solid 8px;
}

.pres-text {
    width: 50%;
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 2rem;
    color: #003145;
    padding: 2% 2%;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pres-image {
    width: 50%;
    font-family: 'Pathway Gothic One', sans-serif;
    color: white;
    font-size: 2rem;
    background-image: url(https://github.com/rafvalentim/Bar-Project-II/blob/master/images/cardmapr-nl-8h395JCix8g-unsplash.jpg?raw=true);
    background-size: cover;
    display: flex;
    justify-content: center;
}

.pres-image h3 {
    font-weight:  normal;
    padding-top: 3rem;
}